.App {
  text-align: left;
  padding: 15px;
}
.App h1 {
  font-size: 60px;
  color: #3a7563;
  font-weight: 700;
}
.App h1,
h2,
h3 {
  font-family: "Noto Serif Display", serif;
}
.App header {
  text-align: center;
}

.App footer {
  text-align: center;
  margin-bottom: 15px;
  padding: 7px;
  font-size: 11px;
}
