.Dictionary section {
  background-color: beige;
  padding: 25px;
  border-radius: 15px;
}
.Dictionary form {
  padding: 30px;
  text-align: center;
  color: #767676;
  outline: none;
}
.Dictionary input {
  color: #212529;
  width: 45%;
  line-height: 18px;
  font-style: italic;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #3a7563;
  outline-width: 0;
}
